@import url('https://fonts.googleapis.com/css?family=Reddit+Mono&display=swap');

body {
    font-family: Reddit Mono, serif;
    background-color: black;
}

p {
    color: white;
}

.nav-link {
    color: rgb(118, 115, 115);
    font-weight: 600;
}

.navbar-nav .nav-link.active {
    color: rgb(245, 248, 245);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(118, 115, 115);
}

.navbar.navbar-expand-lg {
    border-bottom: 2px solid #404040;
}

.sidebar {
    color: rgb(255, 255, 255);
    /* background-color: #404040; */
}

.card {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 6px;
    border-color: aqua;
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer {
    border-top-style: solid;
    border-top-color: white;
    border-width: 1px;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-animation {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(6deg);
    }

    30% {
        transform: translateX(15px) rotate(-6deg);
    }

    45% {
        transform: translateX(-15px) rotate(3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(-2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(1.2deg);
    }
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}